html {
	font-family: "PT Sans", "Open Sans", "Fira Sans", "Noto Sans";
	font-size: 1.3em;
	line-height: 2rem;

	width: 100%;
}


html {
	min-height: 100%;
	background-size: cover; /*Значение cover масштабирует изображение, в зависимости от размеров блока*/
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: right bottom; /*Изображение будет обрезано, в зависимости от значений*/
}
 
body{
	min-height:100%;
}

#Main-information, #page-header{
	width:60%;
	padding-left: 0.5rem;
}

#banners, #copyright  {
	clear: both;
	float: center;
	padding-left: 0.5rem;
}

#banners{
	padding-top: 1rem;
	clear: both;
	display: right;
}

#page-footer {
	padding-top: 1.5rem;
	clear: both;
	padding-left: 0.5rem;
	width:60%;
}

#contacts{
	padding-top: 0.2rem;
	border-top: 0.1rem solid;
	border-bottom: 0.1rem solid;	
}

section, nav {
	padding: 0.2ex;
}

ul {
	padding: 0 2ex;
	margin: 0.2rem;
}


.column {
	margin: auto;
	margin-bottom: 1.25rem;
	max-width: 80ex;
}

.linkbar {
	flex: 0 1 auto;
	max-width: none;
	width: 100%;
	margin: 0ex auto 2ex auto;
}

.linkbar ul {
	align-content: center;
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: auto;
	padding: 0 4ex;
	text-align: center;
}

.linkbar li {
	display: inline-block;
	min-width: 16ex;
	flex: 0 1;
	vertical-align: top;
}

.linkbar a img {
	display: block;
	margin: auto;
	height: 80%;
	width: 80%;
	transition: all 100ms ease-in;
}

.linkbar a:hover img {
	transform: scale(1.16);
}
